<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310696783894-jl4b2jfddea2c4qurgbvrc4mtdosp9mr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310696783894-jl4b2jfddea2c4qurgbvrc4mtdosp9mr</string>
	<key>API_KEY</key>
	<string>AIzaSyDjejjK2BkQHVYVEjTR9_GsOd_afQDDtWw</string>
	<key>GCM_SENDER_ID</key>
	<string>310696783894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatappFirebase</string>
	<key>PROJECT_ID</key>
	<string>chat-app-18db9</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-18db9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310696783894:ios:bb034276f6848855244537</string>
</dict>
</plist>